.comment {
    padding-bottom: 150px;
    display: flex;
    gap: 0 61px;
    &__text {
        overflow: auto;
        h2 {
            width: 69%;
            color: $mainColor;
        }
        .slide-comment {
            padding-top: 30px;
            .slide-item {
                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: calc(30/18);
                    color: #79838C;
                    padding-bottom: 26px;
                }
                h3 {
                    color: $mainColor;
                    padding-bottom: 3px;
                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: calc(28/16);
                    color: #79838C;
                }
            }
        }
    }
    // slick slider 
    .slick-arrow{
       
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        position: relative;
        border: none;
    }
    .slick-prev {           
        top: 241px;
        left: 522px;        
    }
    .slick-next { 
        top: 3px;     
        left: 560px;      
    }
}

@media screen and (max-width: 1279.98px) {
    .comment {
        &__img img {
            width: 100%;
        }

        &__text {
            width: 70%;
        }
        .slick-prev {           
            top: 268px;
            left: 435px;   
            z-index: 1;     
        }
        .slick-next { 
            top: 0px;     
            left: 476px;  
            z-index: 1;    
        }
        
    }
}

@media screen and (max-width: 1023.98px) {
    .comment {
        align-items: center;
        flex-direction: column;
        padding-bottom: 90px;
        &__img {
            width: 80%;
        }

        &__text {
            h2 {
                width: 100%;
                padding-top: 20px;
                font-size: 42px;
            }
        }
    }
}

