.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 0 42px;
    align-items: center;
    .header__button {
        display: none;
    }
    a {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: calc(32/20);
        &:hover {
            font-weight: 600;
        }
    }
}

.menu__toggle.open::before {
    transform: rotate(45deg);
    transition: all 0.2s linear;
}
.menu__toggle.open::after {
    transform: rotate(-45deg);
    transition: all 0.2s linear;
}
    
@media screen and (max-width: 1023.98px) {
    .header__menu {
        display: none;
        border-radius: 10px;
        position: fixed;
        padding-top: 80px;
        background-color: $mainColor;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40%;
        height: 70%;
        z-index: 10;     
        flex-direction: column;       
        gap: 10px 0;
        transform: translateX(100%);
        transition: all 0.2s linear;
        &.is-show {
            display: flex ;
            transform: translateX(0);           
            transition: all 0.2s linear;
        }
        .header__button {
            display: inline-block;
            margin-bottom: 30px;
        }
        .menu-item {
            display: block;
            width: 100%;
            padding: 0 30px;
        }   
    }
    .header__container > .header__button {
        display: none;
       
    }
    .menu__toggle {
        display: inline-flex;
       
    }    
}

