html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #555;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  clear: both;
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Add your css into here*/
.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  color: #fff;
  font-size: 60px;
  line-height: 1.1666666667;
}

h2 {
  font-size: 44px;
  line-height: 1.2272727273;
}

h3 {
  font-size: 24px;
  line-height: 1.4166666667;
}

h4 {
  font-size: 20px;
  line-height: 1.6;
  color: #155261;
}

.background {
  background-color: #155261;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.header__logo a {
  color: #fff;
}
.header__container {
  z-index: 2;
  padding: 35px 16px 40px 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #155261;
}
.header__button {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  padding: 15px 32px;
  background-color: #FF652E;
  border-radius: 20px;
}
.header__button a {
  color: #fff;
}
.header__content {
  padding-top: 150px;
  align-items: center;
  display: flex;
  gap: 0 18px;
  padding-bottom: 100px;
}
.header__text {
  width: 48.7%;
}
.header__text p {
  padding-top: 30px;
  padding-bottom: 45px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #EDEDED;
}
.header__join {
  display: flex;
  gap: 0 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6666666667;
}
.header__join .join {
  padding: 14px 33px;
  color: #fff;
  background-color: #FF652E;
  border: none;
  border-radius: 20px;
}
.header__join .learn {
  color: #FF652E;
  background: none;
  padding: 14px 28px;
  border: 1px solid #FF652E;
  border-radius: 20px;
}

@media screen and (max-width: 1023.98px) {
  .header__container {
    padding: 0 16px;
  }
  .header__button {
    padding: 10px 20px;
  }
  .header__logo a {
    font-size: 30px;
  }
  .header__content {
    flex-direction: column-reverse;
  }
  .header__text {
    padding-top: 20px;
    width: 100%;
  }
  .header__text h1 {
    font-size: 50px;
  }
  .header__join {
    justify-content: space-around;
    gap: 0 1px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__img img {
    width: 95%;
    display: flex;
    margin: auto;
  }
  .header__content {
    padding-bottom: 200px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 0 42px;
  align-items: center;
}
.header__menu .header__button {
  display: none;
}
.header__menu a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
.header__menu a:hover {
  font-weight: 600;
}

.menu__toggle {
  display: none;
  gap: 10px 0;
  padding: 40px 0 40px 40px;
}
.menu__toggle span {
  z-index: 20;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

@media screen and (max-width: 1023.98px) {
  .header__menu {
    position: fixed;
    padding-top: 80px;
    background-color: #155261;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: 30;
    flex-direction: column;
    gap: 10px 0;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }
  .header__menu.is-show {
    transform: translateX(0);
  }
  .header__menu .header__button {
    display: inline-block;
  }
  .header__menu .menu-item {
    display: block;
    width: 100%;
    padding: 30px 30px;
  }
  .header__container > .header__button {
    display: none;
  }
  .menu__toggle {
    display: inline-flex;
    flex-direction: column;
  }
}
.infor {
  justify-content: space-between;
  padding: 39px 55px;
  display: flex;
  background-color: #fff;
  position: relative;
  top: -71px;
  box-shadow: 0 5px 8px rgba(136, 136, 136, 0.7254901961);
}
.infor__item {
  display: flex;
  gap: 0 10px;
  align-items: baseline;
}
.infor__item h3 {
  padding-bottom: 3px;
  color: #155261;
}
.infor__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
.infor__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5555555556;
  padding: 14px 34px;
  border-radius: 12px;
  background-color: #155261;
  color: #fff;
  border: none;
}

@media screen and (max-width: 1023.98px) {
  .infor {
    padding: 30px 15px;
  }
  .infor__content h3 {
    font-size: 20px;
  }
  .infor__button {
    padding: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .infor {
    flex-direction: column;
    top: -150px;
  }
  .infor__item:nth-child(3) {
    padding-bottom: 10px;
  }
}
.relax {
  padding-top: 79px;
  display: flex;
  gap: 0 135px;
  align-items: center;
  padding-bottom: 150px;
}
.relax__title h2 {
  color: #155261;
  padding-bottom: 54px;
}
.relax__item {
  display: flex;
  align-items: baseline;
  gap: 0 20px;
}
.relax__item h3 {
  color: #155261;
  padding-bottom: 6px;
}
.relax__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
.relax__item:nth-child(3) {
  padding: 61px 0;
}

@media screen and (max-width: 1023.98px) {
  .relax {
    flex-direction: column;
    padding-top: 40px;
    gap: 30px 0;
  }
  .relax__title h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  .relax__item:nth-child(3) {
    padding: 30px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .relax {
    padding-bottom: 30px;
    position: relative;
    top: -70px;
    padding-top: 0;
  }
  .relax__img img {
    width: 90%;
    display: flex;
    margin: auto;
  }
  .relax__title h2 {
    font-size: 41px;
  }
}
.perk {
  padding-bottom: 150px;
}
.perk__title {
  text-align: center;
  color: #155261;
  padding-bottom: 60px;
}
.perk__list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 83px;
}
.perk__item h3 {
  color: #155261;
  padding-top: 22px;
  padding-bottom: 16px;
}
.perk__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #79838C;
}

@media screen and (max-width: 767.98px) {
  .perk {
    padding-bottom: 100px;
  }
  .perk__list {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
}
.card {
  padding-bottom: 65px;
}
.card__title {
  color: #fff;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 60px;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.card__content {
  padding: 23px 24px 28px 20px;
}
.card__item {
  border-radius: 16px;
}
.card__item:first-child {
  background: url(../img/card/1.png) no-repeat center;
}
.card__item:nth-child(2) {
  background: url(../img/card/2.png) no-repeat center;
}
.card__item:nth-child(3) {
  background: url(../img/card/3.png) no-repeat center;
}
.card__item:nth-child(4) {
  background: url(../img/card/4.png) no-repeat center;
}
.card__item:nth-child(5) {
  background: url(../img/card/5.png) no-repeat center;
}
.card__item:last-child {
  background: url(../img/card/6.png) no-repeat center;
}
.card__infor {
  display: flex;
  justify-content: space-between;
  padding-bottom: 301px;
  align-items: center;
}
.card__name {
  display: flex;
  gap: 0 9px;
}
.card__name span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
}
.card__begin h3 {
  color: #fff;
}
.card__dot {
  display: flex;
  gap: 0 9px;
}
.card__dot span {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
.card__container {
  top: 262px;
  position: relative;
  background-color: #fff;
  padding: 0 25px 25px 25px;
  border-radius: 15px;
}
.card__container .avatar {
  position: relative;
  top: -25px;
}
.card__container h3 {
  color: #155261;
  padding-bottom: 35px;
}
.card__begintwo {
  padding-bottom: 8px;
  display: flex;
  gap: 0 9px;
}
.card__begintwo span {
  color: #FF652E;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
.card__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__min {
  display: flex;
  gap: 0 8px;
  align-items: center;
}

@media screen and (max-width: 1279.98px) {
  .card__container {
    top: 227px;
  }
  .card__container h3 {
    width: 95%;
  }
}
@media screen and (max-width: 1023.98px) {
  .card__content {
    padding: 23px 24px 0 20px;
  }
  .card__infor {
    padding-bottom: 295px;
  }
}
@media screen and (max-width: 767.98px) {
  .card__list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
  .card__infor {
    padding-bottom: 329px;
  }
  .card__container {
    top: 261px;
  }
  .card__item {
    background: center;
    padding: 0 7px;
  }
}
.heal {
  display: flex;
  padding-top: 150px;
  gap: 0 30px;
  padding-bottom: 162px;
}
.heal__container {
  width: 49%;
}
.heal__title {
  padding-top: 18px;
  color: #155261;
  padding-bottom: 54px;
}
.heal__video p {
  padding-left: 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  padding-bottom: 60px;
}
.heal__video .playvideo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
.heal__video .playvideo .play {
  position: absolute;
  padding: 12.5px 13.4px 13.4px 12.5px;
  border-radius: 100rem;
  background-color: #fff;
}
.heal__video .playvideo .play:hover {
  cursor: pointer;
}
.heal__video span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
.heal .slick-arrow {
  width: 24px;
  height: 24px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF652E;
  position: relative;
}
.heal .slick-prev {
  background: none;
  top: 415px;
  left: 514px;
}
.heal .slick-next {
  background: #FF652E;
  left: 546px;
  top: 12px;
}

@media screen and (max-width: 1279.98px) {
  .heal {
    padding-top: 110px;
  }
  .heal__video p {
    padding-left: 0;
    width: 90%;
    padding-bottom: 114px;
  }
  .heal__video .playvideo img:first-child {
    width: 100%;
  }
  .heal .slick-slide img {
    width: 100%;
  }
  .heal .slick-prev {
    top: 361px;
    left: 420px;
  }
  .heal .slick-next {
    left: 456px;
  }
}
@media screen and (max-width: 1023.98px) {
  .heal__video p {
    padding-bottom: 54px;
  }
  .heal .slick-prev {
    top: 278px;
    left: 286px;
  }
  .heal .slick-next {
    left: 325px;
  }
}
@media screen and (max-width: 767.98px) {
  .heal {
    padding-top: 90px;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .heal__container {
    width: 100%;
  }
  .heal__title {
    padding-bottom: 10px;
  }
  .heal .slick-prev {
    top: 291px;
    left: 323px;
  }
  .heal .slick-next {
    left: 358px;
  }
}
.comment {
  padding-bottom: 150px;
  display: flex;
  gap: 0 61px;
}
.comment__text {
  overflow: auto;
}
.comment__text h2 {
  width: 69%;
  color: #155261;
}
.comment__text .slide-comment {
  padding-top: 30px;
}
.comment__text .slide-comment .slide-item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #79838C;
  padding-bottom: 26px;
}
.comment__text .slide-comment .slide-item h3 {
  color: #155261;
  padding-bottom: 3px;
}
.comment__text .slide-comment .slide-item span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #79838C;
}
.comment .slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;
  border: none;
}
.comment .slick-prev {
  top: 241px;
  left: 522px;
}
.comment .slick-next {
  top: 3px;
  left: 560px;
}

@media screen and (max-width: 1279.98px) {
  .comment__img img {
    width: 100%;
  }
  .comment__text {
    width: 70%;
  }
  .comment .slick-prev {
    top: 268px;
    left: 435px;
    z-index: 1;
  }
  .comment .slick-next {
    top: 0px;
    left: 476px;
    z-index: 1;
  }
}
@media screen and (max-width: 1023.98px) {
  .comment {
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
  }
  .comment__img {
    width: 80%;
  }
  .comment__text h2 {
    width: 100%;
    padding-top: 20px;
    font-size: 42px;
  }
}
.subscribe {
  background-color: #155261;
  border-radius: 20px;
  text-align: center;
}
.subscribe__title {
  padding-top: 158px;
  padding-bottom: 20px;
  color: #fff;
}
.subscribe__content {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ECECEC;
  padding-bottom: 56px;
}
.subscribe__add {
  justify-content: center;
  display: flex;
  padding-bottom: 172px;
  gap: 0 20px;
}
.subscribe__add input {
  padding: 16px 305px 22px 31px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #897C7C;
  background-color: #EEEEEE;
  border: none;
}
.subscribe__add button {
  padding: 17px 60px;
  background-color: #FF652E;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6666666667;
  border-radius: 16px;
}

@media screen and (max-width: 1023.98px) {
  .subscribe__add input {
    padding-right: 245px;
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe__add {
    flex-direction: column;
    gap: 20px 0;
    padding: 0 10px 65px;
  }
  .subscribe__title {
    padding-top: 65px;
  }
}
.footer {
  padding-top: 91px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0 121px;
  padding-bottom: 53px;
}
.footer__slogan h3 {
  color: #155261;
  padding-bottom: 20px;
}
.footer__slogan p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #79838C;
}
.footer__slogan .list-icon {
  padding-top: 25px;
  display: flex;
  gap: 0 8px;
}
.footer__item h4 {
  padding-bottom: 20px;
}
.footer__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  padding-bottom: 12px;
  color: #79838C;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    gap: 0 112px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=app.css.map */
